<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.ThCoinItemMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.ThCoinItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="brand_owner" jdbcType="BIGINT" property="brandOwner" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="yn" jdbcType="BIT" property="yn" />
    <result column="ts" jdbcType="TIMESTAMP" property="ts" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="same_period_id" jdbcType="BIGINT" property="samePeriodId" />
  </resultMap>
</mapper>